In [ ]:
from datascience import *
import matplotlib.pyplot as plt
import matplotlib
matplotlib.use('TkAgg')
# 导入第三方库



def extract_rank(data,name):
    temp = data.where('姓名',are.equal_to(name)).column(11).item(0)
    return temp
    

data1=Table.read_table('D:/homework/gradedata/20211105-utf-8.csv')
data2=Table.read_table('D:/homework/gradedata/20211106-utf-8.csv')
data3=Table.read_table('D:/homework/gradedata/20211107-utf-8.csv')
data4=Table.read_table('D:/homework/gradedata/20211108-utf-8.csv')
data5=Table.read_table('D:/homework/gradedata/20211109-1-utf-8.csv')
data6=Table.read_table('D:/homework/gradedata/20211109-utf-8.csv')
data7=Table.read_table('D:/homework/gradedata/20211110-utf-8.csv')

name1 = input("请输入一个名字")
name2 = input("请输入一个名字")

rank1 = extract_rank(data1,name1)
rank2 = extract_rank(data2,name1)
rank3 = extract_rank(data3,name1)
rank4 = extract_rank(data4,name1)
rank5 = extract_rank(data5,name1)
rank6 = extract_rank(data6,name1)
rank7 = extract_rank(data7,name1)

rank11 = extract_rank(data1,name2)
rank22 = extract_rank(data2,name2)
rank33 = extract_rank(data3,name2)
rank44 = extract_rank(data4,name2)
rank55 = extract_rank(data5,name2)
rank66 = extract_rank(data6,name2)
rank77 = extract_rank(data7,name2)


rank_array = make_array(rank1,rank2,rank3,rank4,rank5,rank6,rank7)
rank_array2 = make_array(rank11,rank22,rank33,rank44,rank55,rank66,rank77)

results1 = Table().with_columns('考试序号',make_array(1,2,3,4,5,6,7),'姓名',rank_array)
results2 = Table().with_columns('考试序号',make_array(1,2,3,4,5,6,7),'姓名',rank_array2)
results1.show()
results2.show()

plt.plot(make_array(1,2,3,4,5,6,7),rank_array,'o--',label=name1)
plt.plot(make_array(1,2,3,4,5,6,7),rank_array2,'o--',label=name2)

plt.xlabel('历次考试')
plt.ylabel('年级RANK')

plt.axis([0,10,650,150])
plt.legend(loc='upper right')

plt.rcParams['font.sans-serif']=['Microsoft YaHei']

plt.grid()
plt.show()

请输入一个名字 刘翔
请输入一个名字 周靖珊